server:
  port: 8081

spring:
  application:
    name: demo

  datasource:
    url: ${mysql://root:iXjXleXLKQJELyokHCmVRqDTGVBaFGvo@centerbeam.proxy.rlwy.net:33573/railway}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

  logging:
    level:
      org.hibernate.SQL: debug
      org.hibernate.orm.jdbc.bind: trace