server:
  port: ${PORT:8080}

spring:
  application:
    name: demo

  datasource:
    url: jdbc:mysql://${MYSQLHOST:localhost}:${MYSQLPORT:3306}/${MYSQLDATABASE:study}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${MYSQL_USER:root}
    password: ${MYSQL_PASSWORD:1234}
    hikari:
      connection-timeout: 30000 # 연결을 얻기 위해 30초까지 기다림
      initialization-fail-timeout: 60000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

  logging:
    level:
      org.hibernate.SQL: debug
      org.hibernate.orm.jdbc.bind: trace

  management:
    endpoints:
      web:
        exposure:
          include: health