server:
  port: ${PORT:8080}

spring:
  application:
    name: demo

  datasource:
    url: ${MYSQL_URL:jdbc:mysql://localhost:3306/study}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${MYSQL_USER:root}
    password: ${MYSQL_PASSWORD:1234}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

  logging:
    level:
      org.hibernate.SQL: debug
      org.hibernate.orm.jdbc.bind: trace